.estimate_main_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 72vh;
  gap: 6vh;
  margin: 2vh 0 8vh 0;
}

.estimate_button {
  border: none;
  width: 20vw;
  height: 20vh;
  border-radius: 8px;
  transition: 0.2s all ease-in-out;
  background-color: var(--background-color);
}

.estimate_button img {
  border-radius: 5px;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.estimate_title {
  color: var(--button-color);
  text-decoration: underline;
  text-decoration-thickness: 0.2dvh;
  font-size: 2.5em;
  margin-left: -15%;
  margin-top: -5%;
}

.estimate_button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.estimate_div_button {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 600px) {
  .estimate_main_div {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 3dvh;
    margin: 2dvh 0 4dvh 0;
  }

  .estimate_button {
    margin-left: 22dvw;
  }

  .estimate_title {
    font-size: 2em;
    margin-left: 18dvw;
  }

  .estimate_div_button {
    gap: 20px;
  }
}
