.main-card-container {
  display: flex;
  height: 100%;
  margin: 0dvh 2dvw 8dvh 0;
}

.myestimate_section1 {
  color: var(--button-color);
  text-decoration: underline;
  text-decoration-thickness: 0.2dvh;
  font-size: 4dvh;
  width: 40%;
  margin-left: 8dvw;
  margin-top: 35dvh;
}

.myestimate_section1 h1 {
  white-space: nowrap;
}

.myestimate_section2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2dvw;
  max-width: 50dvw;
  height: 100%;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
  flex: 1 1 calc(33.33% - 6dvw);
  width: 20dvw;
  margin: 4dvh 2dvw 2dvh 4dvw;
  background-color: rgb(242, 237, 228, 0.2);
  text-align: center;
  padding: 2dvh;
}

.card-title {
  margin: 0px;
}

h3.card-title {
  text-align: center;
  padding-bottom: 2px;
  padding-top: 4px;
}
.card > p {
  font-size: small;
  padding: 2px;
}
img {
  height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.e-model {
  font-weight: 600;
}
@media screen and (max-width: 599px) {
  .main-card-container {
    gap: 3dvh;
    margin: 2dvh 0 4dvh 0;
  }
  .myestimate_section1 {
    margin-left: 17dvw;
    margin-top: 0;
  }
  .myestimate_section2 {
    margin-top: 5dvh;
    max-width: 80dvw;
    margin-left: -55dvw;
  }
  .card {
    width: 50dvw;
    height: auto;
    background-color: var(--background-shadow);
  }
}
@media screen and (min-width: 600px) and (max-width: 1020px) {
  .main-card-container {
    margin-top: 40dvh;
  }
  .myestimate_section1 {
    margin: 0 0 50dvh 10dvw;
  }
}

@media screen and (max-width: 1024px) {
  img {
    height: 100px;
    width: auto;
  }
}
